body {
    background: url("/images/bg.png");
}

h1.a {
    font: bold 24px verdana;
}

h2.a {
    font: bold 18px verdana;
}

p.a{
    font: 15px verdana;
}

label.label{
    font: 12px verdana;
}

label.inputradio{
    font: 12px verdana;
}

input.inputtxt{
    width: 500px;
    border-radius: 4px; 
}

input.sbutton{
    padding: 8px 28px;
    border-radius: 4px;   
}

input.sbutton:focus{
    background-color:green;
}

select.select{
    width: 505px;
    border-radius: 4px; 
}